


.homepagehero {
    padding-top:30px;
}
.heroimage {
    max-width:100%;
    border-radius: 500px;
    padding-top:30px;
}

.hero-background {
    background: #ffffff url(https://res.cloudinary.com/dam1q6nnp/image/upload/v1697297751/WhatsApp_Image_2023-10-14_at_16.18.18_m1c2uc.jpg) center top/cover no-repeat;
    border-radius:20px;
    min-height:400px;
}

.hero-background h2 {
    padding-top:50px;
    color:#ffffff;
}