@import './partials/header.scss';
@import './partials/home.scss';
@import './partials/footer.scss';
@import './partials/create.scss';
@import './partials/singlemeal.scss';
@import './partials/form.scss';
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Manrope:wght@200&family=Poiret+One&family=Raleway:wght@500&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  font-family:'Raleway', sans-serif;
  font-weight: bold;
}

body {
  border-style: solid;
  border-color: #FF6BA5;
  border-width: 7px;
  background-color: #B9E580;
  min-height: 100vh;
}

main {
  color: #166104;
  min-height:calc(100vh - 239px);
  padding: 15px 20px;
}
h1 {
  font-size:1.5rem;
}

.button {
  display: inline-block;
  background-color: #E4F0C5;
  color: #166104;
  padding: 7px;
  margin:10px;
  border-style: solid;
  border-color: white;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #FF6BA5;
  color: #FFF0F2;
}

.main-images {
  max-width: 98vw;
}

h3 {
  padding-left: 10px;
}

.centred {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

